$darkblue_color: #10141f;
$blue_color: #161d2f;
$smokeblue: #596891;
$white: #f8fbfd;
$smokegrey: #80808070;
body {
  margin: 0;
  background-color: $darkblue_color;
  font-family: sans-serif;
}

img {
  width: 700px;
}

.menu {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: $blue_color;
  padding: 15px 40px;

  .logo {
    width: 70px;
    height: 70px;
  }

  .menu-items {
    display: flex;
    flex-flow: row;

    svg {
      fill: $smokeblue;
      width: 46px;
      padding: 30px;
    }
  }

  .profile {
    width: 70px;
    height: 70px;
    border: 4px solid $white;
    border-radius: 50%;
  }
}

.search {
  display: flex;
  flex-flow: row;

  svg {
    fill: $white;
    width: 46px;
    height: 46px;
    padding: 56px 46px 46px 56px;
    flex: 0 1 auto;
  }

  .search-bar {
    border: none;
    flex: 1 1 auto;
    background-color: transparent;
    font-size: 40px;
    color: $white;
  }
}

h1 {
  color: $white;
  margin-left: 40px;
}

.cards-wrapper {
  display: flex;
  flex-flow: row;
  overflow-y: hidden;
  color: $white;

  .card {
    position: relative;
    margin-left: 40px;

    &:last-of-type {
      margin-right: 40px;
    }

    .background-image {
      width: 65vw;
    border-radius: 15px;
    }
    .content {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      .button-save {
        border-radius: 50%;
        border: none;
        padding: 15px;
        margin: 15px;
        width: max-content;
        background-color: rgb(70 68 68 / 75%);
        fill: $white;
        align-self: self-end;

        svg {
          width: 30px;
        }
      }
      .bottom-info {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin: 30px;
        align-items: center;
        .left-info {
          display: flex;
          flex-flow: column;
          .details {
            display: flex;
            flex-flow: row;
            font-size: 1.5rem;
            align-items: center;
            svg {
              fill: $white;
              width: 24px;
            }
          }
          .title {
            font-size: 2rem;
            padding-top: 10px;
          }
        }

        .right-info {
          background-color: rgb(152 144 144 / 37%);
          padding: 10px 15px;
          border-radius: 20px;
        }
      }
    }
  }
}
