body {
  margin: 0;
  background-color: #10141f;
  font-family: sans-serif;
}

.menu {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: #161d2f;
  padding: 1.5vh 3vw;
}
.menu .logo {
  width: 6vw;
}
.menu .menu-items {
  display: flex;
  flex-flow: row;
}
.menu .menu-items svg {
  fill: #596891;
  height: 2.5vh;
  padding: 0 3vw;
}
.menu .menu-items svg:hover {
  fill: #f8fbfd;
}
.menu .profile {
  width: 6vw;
  border: 2px solid #f8fbfd;
  border-radius: 50%;
}

.container .search {
  display: flex;
  flex-flow: row;
  padding: 2vh 3vw;
}
.container .search svg {
  fill: #f8fbfd;
  width: 4vw;
  padding: 0 5vw 0 1vw;
  flex: 0 1 auto;
}
.container .search .search-bar {
  border: none;
  flex: 1 1 auto;
  background-color: transparent;
  font-size: 3.5vw;
  color: #f8fbfd;
  outline: unset;
}
.container h1 {
  font-size: 1.5rem;
  color: #f8fbfd;
  margin-left: 3vw;
}
.container .carousel-wrapper {
  display: flex;
  flex-flow: row;
  overflow-y: hidden;
  color: #f8fbfd;
  margin-bottom: 2vh;
}
.container .carousel-wrapper .card {
  position: relative;
  margin-left: 3vw;
  width: 65vw;
}
.container .carousel-wrapper .card:last-of-type {
  margin-right: 3vw;
}
.container .carousel-wrapper .card .background-image {
  width: -webkit-fill-available;
  border-radius: 15px;
  filter: brightness(0.7);
}
.container .carousel-wrapper .card .content {
  position: absolute;
  top: 0;
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.container .carousel-wrapper .card .content .button-save {
  border-radius: 50%;
  border: none;
  padding: 2vw;
  margin: 2vw;
  width: max-content;
  background-color: rgba(70, 68, 68, 0.75);
  fill: #f8fbfd;
  align-self: self-end;
}
.container .carousel-wrapper .card .content .button-save svg {
  width: 3vw;
}
.container .carousel-wrapper .card .content .bottom-info {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 3vw;
  align-items: center;
}
.container .carousel-wrapper .card .content .bottom-info .left-info {
  display: flex;
  flex-flow: column;
}
.container .carousel-wrapper .card .content .bottom-info .left-info .details {
  display: flex;
  flex-flow: row;
  font-size: 1rem;
  align-items: center;
  color: #c4c4c5;
}
.container .carousel-wrapper .card .content .bottom-info .left-info .details svg {
  fill: #c4c4c5;
  height: 2vh;
}
.container .carousel-wrapper .card .content .bottom-info .left-info .title {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 0.4vh;
}
.container .carousel-wrapper .card .content .bottom-info .right-info {
  background-color: rgba(152, 144, 144, 0.37);
  padding: 0.35vh 1.5vw;
  border-radius: 15px;
}
.container .cards-wrapper {
  display: flex;
  flex-flow: wrap;
  overflow-y: hidden;
  color: #f8fbfd;
}
.container .cards-wrapper .card {
  position: relative;
  margin-left: 3vw;
  flex: 0 0 45.5%;
}
.container .cards-wrapper .card .background-image {
  width: 100%;
  border-radius: 15px;
  filter: contrast(0.6);
}
.container .cards-wrapper .card .background-image:hover {
  filter: none;
}
.container .cards-wrapper .card .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.container .cards-wrapper .card .content .button-save {
  position: absolute;
  top: 0;
  border-radius: 50%;
  border: none;
  padding: 2vw;
  margin: 2vw;
  width: max-content;
  background-color: rgba(70, 68, 68, 0.75);
  fill: #f8fbfd;
  align-self: self-end;
}
.container .cards-wrapper .card .content .button-save svg {
  width: 2vw;
}
.container .cards-wrapper .card .content .bottom-info {
  margin: 2vh 0 3vh 0;
}
.container .cards-wrapper .card .content .bottom-info .left-info {
  display: flex;
  flex-flow: column;
}
.container .cards-wrapper .card .content .bottom-info .left-info .details {
  display: flex;
  flex-flow: row;
  font-size: 1rem;
  align-items: center;
  color: #c4c4c5;
}
.container .cards-wrapper .card .content .bottom-info .left-info .details svg {
  fill: #c4c4c5;
  width: 2vh;
}
.container .cards-wrapper .card .content .bottom-info .left-info .title {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 1.5vh;
}

@media screen and (min-width: 768px) {
  /* For tablets: */
  .container .cards-wrapper .card {
    flex: 0 0 29.5%;
  }
}
@media screen and (min-width: 992px) {
  /* For desktop: */
  body {
    display: flex;
    flex-flow: row;
  }
  body .menu {
    flex-flow: column;
    margin: 4vh 0 4vh 2vw;
    border-radius: 15px;
    padding: 4vh 2vw;
  }
  body .menu .logo {
    width: 2.5vw;
  }
  body .menu .menu-items {
    flex-flow: column;
    margin-bottom: auto;
    margin-top: 5vh;
  }
  body .menu .menu-items svg {
    height: 1.5vw;
    padding: 1vw;
  }
  body .menu .profile {
    width: 2.5vw;
  }
  body .container {
    margin: 3vw 0 0 0;
  }
  body .container .search {
    padding: 2vh 3vw;
  }
  body .container .search svg {
    width: 2vw;
    padding: 0 2vw 0 0;
  }
  body .container .search .search-bar {
    font-size: 3vh;
  }
  body .container .cards-wrapper .card {
    flex: 0 0 21.5%;
  }
}

/*# sourceMappingURL=style.css.map */
