$darkblue: #10141f;
$blue: #161d2f;
$smokeblue: #596891;
$white: #f8fbfd;
$smokegrey: #80808070;
$lightgrey: #c4c4c5;
$smokegrey-rgba: rgb(70 68 68 / 75%);
$lightgrey-rgba: rgb(152 144 144 / 37%);

body {
  margin: 0;
  background-color: $darkblue;
  font-family: sans-serif;
  
}

.menu {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  padding: 1.5vh 3vw;

  .logo {
    width: 6vw;
  }

  &-items {
    display: flex;
    flex-flow: row;

    svg {
      fill: $smokeblue;
      height: 2.5vh;
      padding: 0 3vw;

      &:hover {
        fill: $white;
      }
    }
  }

  .profile {
    width: 6vw;
    border: 2px solid $white;
    border-radius: 50%;
  }
}

.container {
  .search {
    display: flex;
    flex-flow: row;
    padding: 2vh 3vw;

    svg {
      fill: $white;
      width: 4vw;
      padding: 0 5vw 0 1vw;
      flex: 0 1 auto;
    }

    &-bar {
      border: none;
      flex: 1 1 auto;
      background-color: transparent;
      font-size: 3.5vw;
      color: $white;
      outline: unset;
    }
  }

  h1 {
    font-size: 1.5rem;
    color: $white;
    margin-left: 3vw;
  }

  .carousel-wrapper {
    display: flex;
    flex-flow: row;
    overflow-y: hidden;
    color: $white;
    margin-bottom: 2vh;

    .card {
      position: relative;
      margin-left: 3vw;
      width: 65vw;

      &:last-of-type {
        margin-right: 3vw;
      }

      .background-image {
        width: -webkit-fill-available;
        border-radius: 15px;
        filter: brightness(0.7);
      }

      .content {
        position: absolute;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        top: 0;
        width: 100%;
        height: -webkit-fill-available;

        .button-save {
          border-radius: 50%;
          border: none;
          padding: 2vw;
          margin: 2vw;
          width: max-content;
          background-color: $smokegrey-rgba;
          fill: $white;
          align-self: self-end;

          svg {
            width: 3vw;
          }
        }

        .bottom-info {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: center;
          margin: 3vw;

          .left-info {
            display: flex;
            flex-flow: column;

            .details {
              display: flex;
              flex-flow: row;
              font-size: 1rem;
              align-items: center;
              color: $lightgrey;

              svg {
                fill: $lightgrey;
                height: 2vh;
              }
            }

            .title {
              font-weight: bold;
              font-size: 1rem;
              padding-top: 0.4vh;
            }
          }

          .right-info {
            background-color: $lightgrey-rgba;
            padding: 0.35vh 1.5vw;
            border-radius: 15px;
          }
        }
      }
    }
  }

  .cards-wrapper {
    display: flex;
    flex-flow: wrap;
    overflow-y: hidden;
    color: $white;

    .card {
      position: relative;
      margin-left: 3vw;
      flex: 0 0 45.5%;

      .background-image {
        width: 100%;
        border-radius: 15px;
        filter: contrast(0.6);
        &:hover {
          filter: none;
        }
      }

      .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .button-save {
          position: absolute;
          top: 0;
          border-radius: 50%;
          border: none;
          padding: 2vw;
          margin: 2vw;
          width: max-content;
          background-color: $smokegrey-rgba;
          fill: $white;
          align-self: self-end;

          svg {
            width: 2vw;
          }
        }

        .bottom-info {
          margin: 2vh 0 3vh 0;

          .left-info {
            display: flex;
            flex-flow: column;

            .details {
              display: flex;
              flex-flow: row;
              font-size: 1rem;
              align-items: center;
              color: $lightgrey;

              svg {
                fill: $lightgrey;
                width: 2vh;
              }
            }

            .title {
              font-weight: bold;
              font-size: 1rem;
              padding-top: 1.5vh;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  /* For tablets: */
  .container {
    .cards-wrapper {
      .card {
        flex: 0 0 29.5%;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  /* For desktop: */
  body {
    display: flex;
    flex-flow: row;

    .menu {
      flex-flow: column;
      margin: 4vh 0 4vh 2vw;
      border-radius: 15px;
      padding: 4vh 2vw;

      .logo {
        width: 2.5vw;
      }

      .menu-items {
        flex-flow: column;
        margin-bottom: auto;
        margin-top: 5vh;

        svg {
          height: 1.5vw;
          padding: 1vw;
        }
      }

      .profile {
        width: 2.5vw;
      }
    }

    .container {
      margin: 3vw 0 0 0;

      .search {
        padding: 2vh 3vw;

        svg {
          width: 2vw;
          padding: 0 2vw 0 0;
        }

        .search-bar {
          font-size: 3vh;
        }
      }

      .carousel-wrapper {
        .card {
          width: 30vw;

          &:last-of-type {
            margin-right: 2vw;
          }

          .content {
            .button-save {
              padding: 1.5vh;
              margin: 1vh;

              svg {
                width: 1vw;
              }
            }

            .bottom-info {
              margin: 2vh;

              .right-info {
                display: none;
              }
            }
          }
        }
      }

      .cards-wrapper {
        .card {
          flex: 0 0 18.5%;

          .content {
            .button-save {
              padding: 1.5vh;
              margin: 1vh;

              svg {
                width: 1vw;
              }
            }

            .bottom-info {
              .left-info {
                .title {
                  padding-top: 1vh;
                }
              }
            }
          }
        }
      }
    }
  }
}
